
/*MY CUSTOM STYLE*/
a{
	color: #002388;
}
a.c {
	display: block;
    float: left;
}
.mt-card {
	margin-top: 30px;
}
a.head-name {
	color: #fff;
}

.navbar .navbar-brand-wrapper .navbar-brand {
    height: 100%;
    position: relative;
}
nav#sidebar {
    min-height: 800px !important;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    margin: 0 auto;
}
.http-error {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.http-error .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.http-error .container a {
    display: inline-block;
}

.admin_contact iframe#tinyMceExample_ifr, .admin_contact iframe#tinyMceExample2_ifr, .admin_contact iframe#tinyMceExample3_ifr {
    max-height: 200px !important;
}
.fl-right {
    float: right;
}

span.btn.btn-sm.btn-primary.fl-right.btn-check {
    margin-right: 10px;
}

.form-inline label {
    justify-content: left !important;
}
.form-inline input[type="text"], .form-inline input[type="number"], .form-inline input[type="email"], .form-inline textarea {
    width: 100% !important;
}

label {
    margin-top: 1rem;
}
.btn {
    margin: 0 5px;
}

.point_e {
    pointer-events: none;
}
.btn.disabled {
    background-color: #ccc !important;
    border-color: #ccc !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#invalid_mes {
    display: none;
}
form.form-addnew {
    display: none;
}
.content.custom-content {
    padding: 20px 0;
}
.btn-save-menu, .btn-cancel-menu, .btn-delete-menu {
    display: none;
}

.menu-config .btn {
    margin: 3px;
}
.menu-config .add-menu {
    display: none;
}

.menu-config .form-check, .menu-config .urlSelect {
    margin: 0 3px;
}

.menu-config .form-inline .form-check label {
    margin: 0 5px;
}
.config-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}
.config-popup .popup-body {
    position: relative;
    max-width: 800px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.text-success.sent, .btn-sendmail-ok {
    display: none;
}
.ul_menu li a {
    text-transform: uppercase;
}
.home-link {
    display: inline-block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-decoration: none;
}
.block-restore {
    display: none;
}


/*CONFIG PAGE*/
.restore-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}
.restore-popup .restore-content {
    position: relative;
    max-width: 800px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.restore-body {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 50px;
}

/*CUSTOM PAGE*/

/*Header*/
.page-custom .header {
    position: fixed;
}

/*Content*/
.page-custom .custom-content {
    padding-top: 70px;
}
.page-custom .custom-content * {
    width: 100%;
}
.page-custom .custom-content .row {
    margin: 0;
}

/*Footer*/
.page-custom .footer {
    position: fixed;
}
.formInputData [id^=tinyMceExample] {
	height: 200px !important;
}


.hide {
	display: none;
}

* {
	outline: 0;
	font-family: sans-serif;
}

body {
	background-color: #fafafa;
}

span.msg, span.choose {
	color: #555;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 0 10px;
	display: inherit;
}

.slideImage4{
	width: 100%;
}

.container {
	width: 500px;
	margin: 0;
	text-align: left;
}

/*Styling Selectbox*/
.dropdown {
	width: 300px;
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px rgb(204, 204, 204);
	transition: all .5s ease;
	position: relative;
	font-size: 14px;
	color: #474747;
	text-align: left;
}

.dropdown .select {
	cursor: pointer;
	display: block;
	padding: 10px;
}

.dropdown .select>i {
	font-size: 13px;
	color: #888;
	cursor: pointer;
	transition: all .3s ease-in-out;
	float: right;
	line-height: 20px;
}

.dropdown:hover {
	box-shadow: 0 0 4px rgb(204, 204, 204);
}

.dropdown:active {
	background-color: #f8f8f8;
}

.dropdown.active:hover, .dropdown.active {
	box-shadow: 0 0 4px rgb(204, 204, 204);
	border-radius: 5px 5px 0 0;
	background-color: #f8f8f8;
}

.dropdown.active .select>i {
	transform: rotate(-180deg);
}

.dropdown .dropdown-menu {
	position: absolute;
	background-color: #fff;
	width: 100%;
	left: 0;
	margin-top: 1px;
	box-shadow: 0 1px 2px rgb(204, 204, 204);
	border-radius: 0 1px 5px 5px;
	overflow: hidden;
	display: none;
	max-height: 144px;
	overflow-y: auto;
	z-index: 9;
}

.dropdown .dropdown-menu li {
	padding: 10px;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.dropdown .dropdown-menu {
	padding: 0;
	list-style: none;
}

.dropdown .dropdown-menu li:hover {
	background-color: #f2f2f2;
}

.dropdown .dropdown-menu li:active {
	background-color: #e2e2e2;
}

.news.add-new {
    display: none;
}

.news .row.article {
    display: none;
}

.news .row.press {
    display: none;
}

.news .btn-close-new {
    float: right;
}
