.service.s-active .sv-content-hover {
    left: 0;
    right: 0;
}

@media screen and (max-width: 1024px){
    .service .sv-content, .service.s-active .sv-content-hover {
        padding: 0 15px;
    }
    .footer .right {
        right: -25px;
    }
    .service.s-active .sv-content-hover .image img {
        max-width: 300px;
    }
    .service-2.s-active .number {
        top: 45vh;
        position: relative;
    }

    .service-2.s-active .text {
        position: relative;
        top: 45vh;
    }
    .service-3.s-active .text {
        top: 55vh;
        position: absolute;
    }

    .service-3.s-active span.number {
        top: 50vh;
        position: relative;
    }
}
@media screen and (max-width: 992px) {
    .fp-section.active .home .content h2 .dot_tit_home {
        font-size: 25px;
        margin-left: 0;
    }
}
@media screen and (max-width: 767px){
    .home .content h2 {
        font-size: 25px;
    }
    .home .content h2 span {
        font-size: 45px;
    }
    .content .listing-service .service-2:hover .sv-content-hover {
        padding-top: 0 !important;
    }
    .service-3.s-active span.number {
        top: 0;
    }
    .service-3.s-active .text {
        top: unset;
        position: absolute;
    }
}

@media screen and (max-width: 576px){
    .service-3.s-active .text {
        top: 60vh;
    }
    .footer .right {
        right: 0;
    }
}

@media screen and (max-width: 375px){
    .home .content h2 {
        font-size: 15px;
    }
    .home .content h2 span {
        font-size: 25px;
    }
    .home .content h2 .dot_tit_home{
        font-size: 15px;
    }
}
