/*body{*/
    /*margin:0;*/
/*}*/
/*button, a:focus{*/
    /*outline: none;*/
/*}*/
/*.wrap{*/
    /*max-width: 1366px;*/
    /*padding: 0px 45px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/
/*.header{*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*padding-top: 20px;*/
    /*z-index: 1;*/
/*}*/
/*.footer{*/
    /*position: fixed;*/
    /*bottom:0;*/
    /*width: 100%;*/
/*}*/
/*.header>.wrap{*/
    /*max-width: 100%;*/
/*}*/
/*.header>.wrap:after{*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/
/*.header .logo{*/
    /*float: left;*/
/*}*/
/*.header .menu{*/
    /*float: right;*/
/*}*/
/*.header .menu .menu-open{*/
    /*height: 40px;*/
    /*width: 40px;*/
    /*border-radius: 50%;*/
    /*background: rgba(225,225,225,0);*/
    /*cursor: pointer;*/
/*}*/
/*.header .menu .menu-open:active{*/
    /*background: rgba(225,225,225,0.8);*/
/*}*/
/*.header .menu .menu-open .icon{*/
    /*width: 26px;*/
    /*height: 17px;*/
    /*background-image: url(../images/menu-white.svg);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*margin: auto;*/
    /*position: relative;*/
    /*top: 11px;*/
/*}*/
/*.active_menu {*/
    /*font-weight: bold;*/
/*}*/
/*.header .menu .menu-list{*/
    /*position: fixed;*/
    /*width: 320px;*/
    /*right: -320px;*/
    /*top: 0;*/
    /*bottom:0;*/
    /*background: #fff;*/
    /*color: #354D63;*/
    /*transition: all 1s;*/
/*}*/
/*.header .menu .menu-list ul{*/
    /*list-style-type: none;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*padding-left: 75px;*/
    /*margin-top: -21px;*/
/*}*/
/*.header .menu .menu-list li{*/
    /*margin: 20px 0;*/
    /*line-height: 25px;*/
    /*font-size: 21px;*/
/*}*/
/*.header .menu .menu-list li a {*/
    /*color: #354D63;*/
    /*font-family: "LatoLight";*/
    /*font-size: 21px;*/
    /*line-height: 25px;*/
/*}*/
/*.header .menu .menu-list li:hover{*/
    /*font-weight: bold;*/
/*}*/
/*.header .menu .menu-close{*/
    /*position: absolute;*/
    /*right: 40px;*/
    /*top: 30px;*/
    /*cursor: pointer;*/
/*}*/
/*.header .menu .menu-close .icon{*/
    /*width: 26px;*/
    /*height: 17px;*/
    /*background-image: url(../images/menu.svg);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
/*}*/
/*.footer>.wrap{*/
    /*max-width: 100%;*/
/*}*/
/*.footer>.wrap:after{*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/
/*.footer .right{*/
    /*float:right;*/
    /*position: relative;*/
    /*bottom: 40px;*/
/*}*/
/*.footer .line{*/
    /*height: 2px;*/
    /*width: 150px;*/
    /*background-color: #fff;*/
    /*position: relative;*/
    /*right: 48px;*/
/*}*/
/*.footer .line+a{*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: -20px;*/
    /*height: 40px;*/
    /*width: 40px;*/
    /*border-radius: 50%;*/
    /*background: rgba(225,225,225,0);*/
/*}*/
/*.footer .line+a .icon{*/
    /*height: 32px;*/
    /*width: 32px;*/
    /*background-image: url(../images/arrow-right.svg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*margin: auto;*/
    /*margin-top: 4px;*/
/*}*/
/*.footer .line+a:active{*/
    /*background: rgba(225,225,225,0.8);*/
/*}*/
/*.home{*/
    /*min-height: 100vh;*/
    /*position: relative;*/
/*}*/
/*.home .header .logo img{*/
    /*height: 30px;*/
/*}*/
/*.darker{*/
    /*background-color: rgba(1, 35, 71, 0.81);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom:0;*/
    /*left: 0;*/
    /*right: 0;*/
/*}*/
/*.home .bkg-video{*/
    /*min-height: 100%;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*-webkit-transform: translateX(-50%);*/
    /*min-width: 100%;*/
/*}*/
/*.home .content{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*color: #fff;*/
/*}*/
/*.home .content a:hover {*/
    /*text-decoration: none;*/
/*}*/

/*.home .content h2 span.dot_tit_home {*/

    /*font-family: "MetaBook";*/
    /*text-align: center;*/
    /*font-size: 39px;*/
    /*color: #F7C446;*/
    /*font-weight: normal;*/
/*}*/
/*.home .content h2{*/
    /*font-family: "MetaBook";*/
    /*text-align: center;*/
    /*font-size: 39px;*/
    /*line-height: 50px;*/
    /*font-weight: normal;*/
/*}*/
/*.home .content h2 span{*/
    /*font-size: 62px;*/
/*}*/
/*.home .content .btn{*/
    /*width: auto;*/
    /*padding: 8px 20px;*/
    /*text-transform: uppercase;*/
    /*border: 2px solid #fff;*/
    /*background: transparent;*/
    /*color: #fff;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*transition: all 0.5s;*/
    /*position: relative;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*font-size: 10px;*/
    /*border-radius: 0;*/
/*}*/
/*.home .content .btn .span{*/
    /*z-index: 2;*/
    /*display: block;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.home .content .btn:before{*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 1;*/
    /*opacity: 0;*/
    /*background-color: rgba(255,255,255,0.5);*/
    /*-webkit-transition: all 0.4s;*/
    /*-moz-transition: all 0.4s;*/
    /*-o-transition: all 0.4s;*/
    /*transition: all 0.4s;*/
    /*-webkit-transform: scale(0.5, 1);*/
    /*transform: scale(0.5, 1);*/
/*}*/
/*.home .content .btn:hover{*/
    /*border-color: rgba(255,255,255,0.5);*/
/*}*/
/*.home .content .btn:hover::before {*/
    /*opacity: 1;*/
    /*-webkit-transform: scale(1, 1);*/
    /*transform: scale(1, 1);*/
/*}*/



div#fullpage {
    touch-action: auto !important;
}
body.fp-viewing-firstSection-1 .footer  .right.hover_sevice4 .line {
    background-color: #fff !important;
}

body.fp-viewing-firstSection-1 .footer .right.hover_sevice4  .icon{
    border-color: #fff;
}
body.fp-viewing-firstSection-1 .footer .right.hover_sevice4  .icon:before {
    background-image: url(../images/sv4_hover.svg);
}
body.fp-viewing-firstSection-1 .header .menu .menu-open .icon.hover_sevice4{
    background-image: url(../images/menu-white.svg);
}

.m-active{
    font-weight: bold;
    color: #354D63;
}
body.fp-viewing-firstSection-2 a#m_contact, body.fp-viewing-firstSection-0 a#m_home,
body.fp-viewing-firstSection-1 a.m_products.m-activeall {
    font-weight: bold;
    color: #354D63;
}
body{
    margin:0;
}
button, a:focus{
    outline: none;
}
.wrap{
    max-width: 1366px;
    padding: 0px 50px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
}
.footer{
    position: absolute;
    bottom:0;
    width: 100%;
    z-index: 9999;
}
.newpage .footer{
    position: absolute !important;
}
.header>.wrap{
    max-width: 100%;
}
.header>.wrap:after{
    content: "";
    display: table;
    clear: both;
}
.header .logo{
    float: left;
}
.header .menu{
    float: right;
}
.header .menu .menu-open{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: rgba(225,225,225,0);
    cursor: pointer;
}
.header .menu .menu-open:active{
    background: rgba(225,225,225,0.8);
}
body.fp-viewing-firstSection-1 .header .menu .menu-open .icon,
body.fp-viewing-firstSection-2 .header .menu .menu-open .icon{
    background-image: url(../images/menu.svg);
}



.header .menu .menu-open .icon{
    width: 42px;
    height: 26px;
    background-image: url(../images/menu-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    top: 11px;
}
.active_menu {
    font-weight: bold;
}
.menu-list{
    position: fixed;
    width: 320px;
    right: -320px;
    top: 0;
    bottom:0;
    background: #fff;
    color: #354D63;
    transition: all 1s;
    z-index: 9;
}
.menu-list ul{
    list-style-type: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 75px;
    margin-top: -21px;
}
.menu-list li{
    margin: 38px 0;
    line-height: 25px;
    font-size: 21px;
}
.menu-list li a {
    color: #354D63;
    font-family: "LatoLight";
    font-size: 21px;
    line-height: 25px;
}
.menu-list li a:hover{
    font-weight: bold;
    text-decoration: none;
}
.menu-list .menu-close{
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    z-index: 1;
}
.menu-list .menu-close .icon{
    width: 30px;
    height: 20px;
    background-image: url(../images/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer>.wrap{
    max-width: 100%;
}
.footer>.wrap:after{
    content: "";
    display: table;
    clear: both;
}
.footer .right{
    float:right;
    position: relative;
    bottom: 40px;
}
.footer .line{
    height: 2px;
    width: 150px;
    background-color: #fff;
    position: relative;
    right: 55px;
}
body.fp-viewing-firstSection-1 .footer .line{
    height: 2px;
    width: 150px;
    background-color: #354D63;
    position: relative;
    right: 55px;
}

.footer .right>a{
    position: absolute;
    right: 0;
    top: -24px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: rgba(225,225,225,0);
}


body.fp-viewing-firstSection-1 .footer .icon{
    height: 36px;
    width: 36px;
    border: 2px solid #354D63;
    border-radius: 36px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 7px;
}
body.fp-viewing-firstSection-1 .footer .icon:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../images/union-13.svg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 14px 14px;
    background-position-x: 8px;
}
.footer .icon{
    height: 36px;
    width: 36px;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 7px;
}
.footer .line+a:active{
    background: rgba(225,225,225,0.8);
}
.home{
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
}
.home .header .logo img{
    height: 45px;
}
.video-overlay{
    background-color: rgba(1, 29, 56, 0.64);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}
.home .bkg-video{
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    min-width: 128%;
}
.home .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
}
.home .content h2 span.dot_tit_home {

    font-family: "MetaBook";
    text-align: center;
    font-size: 39px;
    /* line-height: 50px; */
    color: #F7C446;
    margin-left: -10px;
    font-weight: normal;
}
.home .content h2{
    font-family: "MetaBook";
    text-align: center;
    font-size: 39px;
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 30px;
}
.home .content h2 span{
    font-size: 70px;
}
.home .content .btn{
    width: auto;
    padding: 8px 20px;
    border-radius: inherit;
    text-transform: uppercase;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
}
.home .content .btn .span{
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.home .content .btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}
.home .content .btn:hover{
    border-color: rgba(255,255,255,0.5);
}
.home .content .btn:focus{
    box-shadow: none;
}
.home .content .btn:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.fullpage-wrapper .fp-section{
    height: 100% !important;
    background-color: transparent;
}
@media (max-width: 380px){
    .home .header .logo img, .header .logo img{
        height: 35px;
    }
    .home .content h2{
        font-size: 26px;
    }
    .home .content h2 span{
        font-size: 56px;
    }
}

/*listing page*/
.service{
    transition: all 0.5s;
}
.service .number{
    border-radius: 50%;
}
.not-home.hover .header .menu .menu-open .icon{
    background-image: url(../images/menu-white.svg);
}
.not-home.hover .footer .line{
    background-image: none;
}
.not-home.hover .footer .line+a{
    background-image: none;
    position: absolute;
    right: -2px;
    top: -32px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgba(225,225,225,0);
}
.not-home.hover .footer .line+a .icon{
    height: 36px;
    width: 36px;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 4px;
}
.home .content.wrap a button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

@media(min-width: 768px){
    .newpage .content .listing-service .service .header{
        display: none;
    }
    .newpage .content .listing-service .service .footer{
        display: none;
    }
    .service.s-active .number{
        border: 0;
        box-shadow: 0px 3px 6px #00000029;
        background: #fff;
    }
    .service.s-active .text{
        text-shadow: 0px 3px 6px #00000029;
    }
    .service.s-active .text h4, .service.s-active .text .desc{
        color: #fff
    }
    .service-3.s-active .text h4, .service-3.s-active .text .desc{
        color: #2C2C2C;
    }
    .service-1.s-active{
        background: #F7C446;
    }
    .service-2.s-active{
        background: #478AB2;
    }
    .service-3.s-active{
        background: #F7F7F7;
    }
    .service-4.s-active{
        background: #C10302;
    }
    .newpage .mobile{
        display: none !important;
    }
}
@media(max-width: 1024px) and (min-width: 768px){
    div .sv-content{
        padding: 0;
        padding-right: 15px;
    }
    div .sv-content-hover{
        padding-left: 0;
        padding-right: 15px;
        width: auto;
    }
}
@media(max-width: 767px){
    .newpage .desktop, .newpage .fp-slide.fp-table.desktop{
        display: none !important;
    }
    .newpage .service.active{
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        z-index: 10;
        padding:0 !important;
    }
    .newpage div .service-2 .sv-content-hover{
        padding-top: 100px;
    }
    .newpage .service.active:before{display:none}
    .newpage .service.active .sv-content{
        bottom:-1000vh;
    }
    .newpage .service.active .sv-content-hover{
        opacity: 1;
        filter: alpha(opacity=100);
        top: 68vh;
    }
    .newpage .service-2.service.active .sv-content-hover{
        top: 90vh;
    }
    .newpage .service-2 .sv-content-hover .image img{
        max-width: 90vh;
    }
    body.newpage  .service-2 .sv-content-hover .image{
        top: -36vh;
        left: 60%;
    }
    .newpage .service-3.service.active .sv-content-hover{
        top:34vh;
        padding-top: 450px;
    }
    .newpage .service-4.service.active .sv-content-hover{
        top: 61vh;
    }
    .newpage .service.active .number{
        border: 0;
        box-shadow: 0px 3px 6px #00000029;
        background: #fff;
    }
    .newpage .service .number{
        display: none !important;
    }
    .newpage .service.active .text{
        text-shadow: 0px 3px 6px #00000029;
    }
    .newpage .service.active .text h4, .service.active .text .desc{
        color: #fff
    }
    .newpage .service-3.active .text h4, .service-3.active .text .desc{
        color: #2C2C2C;
    }
    .newpage .service-1.active{
        background: #F7C446;
    }
    .newpage .service-2.active{
        background: #478AB2;
    }
    .newpage .service-3.active{
        background: #F7F7F7;
    }
    .newpage .service-4.active{
        background: #C10302;
    }
    .newpage .sv-content-hover .image img{
        max-width: 100vw;
        max-height: 80vh;
    }
    .newpage .service-1 .sv-content-hover .text{
        margin-top: 20px;
    }
    .newpage .service-1 .sv-content-hover .text .image{
        top: 18vh;
    }
    .newpage .service-1 .sv-content-hover .image img{
        max-width: 68vw;
    }
    .newpage .fp-section.fp-table, .newpage .fp-slide.fp-table{
        display: block !important;
    }
    .newpage div .service-4 .sv-content-hover .text .image{
        top: 10vh;
    }
}
@media (max-width: 640px){
    .newpage .service-2 .sv-content-hover .image img{
        max-width: 60vw;
    }
    .newpage .service-2.service.active .sv-content-hover{
        top: 80vh;
    }
    body.newpage  .service-2 .sv-content-hover .image{
        top: -22vh;
    }
}
@media (max-width: 480px){
    .newpage .service-1 .sv-content-hover .image img{
        max-width: 80vw;
    }
    body.newpage  .service-2 .sv-content-hover .image{
        top: -10vh;
    }
    .newpage .service-2.service.active .sv-content-hover{
        top: 70vh;
    }
}
@media (max-width: 320px){
    .newpage .service-1 .sv-content-hover .text .image{
        top: 25vh;
    }
    .newpage .service-1 .sv-content-hover .image img{
        max-width: 100vw;
    }
    body.newpage  .service-2 .sv-content-hover .image{
        top: -18vh;
    }
    .newpage .service-2 .sv-content-hover .image img{
        max-width: 60vh;
    }
    .newpage .service-2.service.active .sv-content-hover{
        top: 80vh;
    }
    .newpage .service-3.service.active .sv-content-hover{
        top: 60vh;
        padding-top: 260px;
    }
    body.newpage  .service-2 .sv-content-hover .image{
        left: 52%;
    }
}
/*/////*/
#fp-nav, .fp-slidesNav{
    display: none;
}
.fp-slide.fp-table{
    position: relative;
}
.contact-content .left-content .contact-info a:hover{
    text-decoration: none;
    color: #354D63 !important;
}