

@media screen and (max-width: 1366px) and (min-width: 769px) {
	.services-page .contact-page .contact-content .content-left .content {
        left: 28% !important;
    }
}
.core-tech .core-content{
	margin-left:15%;
	margin-top: 5%;
}

@media screen and (max-width: 768px) {
	.core-tech .core-content {
	    margin-left: 0;
	    margin-top: 15%;
	}
}


@media screen and (max-width: 480px) {
	.core-tech .core-content {
	    margin-left: 0;
	    margin-top: 15%;
	}
}
@media screen and (min-width: 991px) {
	.core-tech .core-content {
	    padding-right: 13.25rem;
	}
}

@media screen and (min-width: 769px) {
	.core-tech .core-content .intro{
		top: 110px !important;
	}
	.core-tech .core-content ul.tech li{
		margin-bottom: 50px;
		height: 197px;
	}
	.core-tech .core-content ul.tech li p{
		width: 50%;
	}
	.core-tech .core-content ul.tech li:nth-child(8) p{
		width: 38% !important;
	    left: 0px;
	    text-align: center;
	    margin: 0 auto;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.core-tech .core-content ul.tech li:nth-child(2) p{
		padding-left:12px;
	}
	.core-tech .core-content ul.tech li:nth-child(3) img{
		padding-left:14px;
	}
	.core-tech .core-content ul.tech li:nth-child(4) p{
		width: 35%;
		text-align: center;
	}
	.core-tech .core-content ul.tech li:nth-child(5) p{
		left: -25px;
	}
	.core-tech .core-content ul.tech li:nth-child(6) p{
		padding-left: 14px;
	}
	.core-tech .core-content ul.tech li:nth-child(7) img{
		margin-left:25px;
	}
}
