
.all-item.seaport .content .seaport_3{
    width: auto;
}
.all-item.seaport .content .seaport_1 {
    position: absolute;
    bottom: 12%;
    right: 4%;
}
body .all-item .content .seaport_2 {
    position: absolute;
    bottom: 18%;
    left: 9%;
}
body .all-item .content .seaport_3 {
    position: absolute;
    left: 7%;
    top: 19%;
}
body .all-item.seaport img.bg {
    top: 60%;
    width: 52%;
}

@media screen and (min-width: 1366px){
    body .all-item.seaport .content .seaport_1 {
        position: absolute;
        bottom: 0%;
        right: 4%;
    }
body .all-item .content .seaport_2 {
    position: absolute;
    bottom: 5%;
    left: 10%;
}
    body .all-item .content .seaport_3 {
        position: absolute;
        left: 8%;
        top: 21%;
    }

}
@media screen and (min-width: 1520px){
body .all-item.seaport img.bg {
    top: 60%;
    width: 57%;
    max-height: 80%;
}
body .all-item .content .seaport_2 {
    position: absolute;
    bottom: 6%;
    left: 8%;
}
body .all-item .content .seaport_3 {
    position: absolute;
    left: 6%;
    top: 19%;
}
body .all-item.seaport .content .seaport_1 {
    position: absolute;
    bottom: 0%;
    right: 3%;
}
.all-item.seaport .content .description{
    font-size: 23px;
    width: 400px;
}

.all-item .seaport-content.content .image{
    height: 150px;
    width: 150px;
}
}
@media screen and (max-width: 1280px){
.all-item.seaport .content .seaport_2 {
    position: absolute;
    bottom: 24%;
    left: 130px;
}
.all-item.seaport .content .seaport_3 {
    position: absolute;
    left: 110px;
    top: 25%;
}

.all-item.seaport .content .seaport_1 {
    bottom: 18%;
    right: 4%;
}
.all-item.seaport .content .description{
    font-size: 17px;
}
body .all-item.seaport img.bg {
    top: 52%;
    width: 55%;
}
}
@media screen and (max-width: 1239px){
    .all-item.seaport .content .seaport_1 {
    right: 50px;
}
}

@media screen and (max-width: 1023px){

.all-item.seaport .content .seaport_2 {
    bottom: 19%;
}
.all-item.seaport .content .seaport_1 {
    bottom: 12%;

}

}
@media screen and (max-width: 1100px){
    .all-item.seaport .content .description{
        font-size: 15px;
    }
}
@media screen and (max-width: 1000px){
    body .all-item.seaport img.bg {
        top: 55%;
        width: 60%;
        left: 55%;
    }
}
@media screen and (min-width: 769px){
    .all-item .content .seaport_1 .description p{
        right: 0;
        left: unset;
    }
	.seaport .detail-content .content-left .service-img.main{
		max-height: none;
	}
}
@media screen and (max-width: 991px){
    .all-item.seaport .content .seaport_1 {
        right: 20px;
        bottom: 16%;
    }
    .all-item.seaport .content .description {
        font-size: 13px;
    }
        .all-item.seaport .content .seaport_2 {
        left: 80px;
    }
        .all-item.seaport .content .seaport_3 {
       left: 80px;
    }
    body .all-item.seaport img.bg {
        top: 55%;
        width: 60%;
        left: 50%;
    }
}

@media screen and (max-width: 960px){
.all-item.seaport .content .seaport_2 {
    bottom: 15%;
}
}
@media screen and (max-width: 850px){
    body .all-item.seaport img.bg{
        width: 70%;
        top:55%;
    }
    .all-item.seaport .content .seaport_2 {
        bottom: 20%;
    }
    .all-item.seaport .content .seaport_1{
        bottom: 20%;
    }
}
@media screen and (max-width: 768px){

    .all-item.seaport .content .seaport_3, .all-item.seaport .content .seaport_2 {
        position: static;
        width: 100%;
        display: block;
        font-size: 0;
        clear: both;
        margin-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
	.all-item.seaport .content .seaport_1{
		position: static;
        width: 100%;
        display: block;
        font-size: 0;
        clear: both;
        margin-top: -20px !important;
        padding-right: 15px;
        padding-left: 15px;
	}
    .all-item.seaport .content .seaport_1:after, .all-item.seaport .content .seaport_2:after, .all-item.seaport .content .seaport_3:after{
        content: '';
        visibility: hidden;
        display: block;
        clear: both;
    }
}

@media (min-width: 1820px){
    div.all-item .seaport_5{
        top: 38.8%;
        left: 3.4%;
    }
    .all-item.seaport .content .seaport_5 .description p{
        margin-top: -2.9%;
        padding-left: 1.9%;
    }
    div.all-item .seaport_4{
        top: 70.5%;
        left: 9.2%;
    }
    .all-item.seaport .content .seaport_4 .description p{
        margin-top: -3%;
    }
    .all-item.seaport .content .seaport_3{
        bottom: auto;
        top: 23.6%;
        right: auto;
        left: 8.3%;
    }
    .all-item.seaport .content .seaport_3 .description p{
        margin-top: 0.4%;
        padding-left: 2.3%;
        padding-right: 0;
    }
    body .all-item.seaport .content .seaport_1{
     bottom: 0%;
     right: 4%;
     top: auto;
 }
 div.all-item .seaport_6{
    top: 16.3%;
    left: 21.7%;
}
.all-item.seaport .content .seaport_1 .description p{
    padding-right: 1.8%;
    padding-left: 0;
    margin-top: -2.8%;
}
.all-item.seaport .content .seaport_2 .description p{
    padding-right: 0;
    padding-left: 3.6%;
    margin-top: 1.5%;
}
body .all-item .content .seaport_2 {
    bottom: 8%;
    left: 11%;
    right: auto;
}
.all-item.seaport .header p{
    width: 57%;
    left: 55%; 
    line-height: 1.2;
    letter-spacing: 0.04px;
    max-width: none;
}
.all-item.seaport .header .menu{
    right: 3.6%;
    top: 4.2%;
}
.all-item.seaport .header .logo{
    top: 4.1%;
    left: 3.7%;
}
body .all-item.seaport img.bg {
    width: 52.6%;
    left: 50.5%;
    top: 60.4%;
}
.all-item.seaport .content .image{
    width: 183px;
    height: 183px;
}
.all-item.seaport .content .description{
    height: 183px;
}
.all-item.seaport .content .description p{
    padding-left: 2.9%;
    font-size: 1.7rem;
    letter-spacing: -0.3px;
    padding-bottom: 12px;
}
.all-item.seaport .content .description{
    width: 491px;
}
.all-item.seaport .footer h2{
    margin-bottom: 0.4%;
    font-size: 3.5rem;
}
.all-item.seaport .footer p{
    bottom: -8%;
    left: 9.1%;
    font-size: 1.4rem;
}
body .body-content .all-footers.footer{
    padding-top: 3%;
}
.body-content{
    min-height:  100%;
    display: inline-block;
    width: 100%;
}
}
