
body .all-item img.bg {
    top: 55%;
    width: 50%;
    max-height: 85%;
}
body .all-item .content .image img {
    max-height: 85%;
    max-width: 100%;
}
.all-item .header p {
    left: 55%;
    width: 61%;
    max-width: 810px;
}
body .all-footers.footer{
    padding: 0 !important;
}

body .item-content.active {
    padding-bottom: 20px;
    min-height: 93%;
    height: auto;
}
body .all-item.active{
    min-height: 93%;
    height: auto;
}


.body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        min-height: 93%;
    }
    body .all-item .content {
    position: relative;
    height: 93%;
}
@media screen and (min-width: 1366px){
    body .all-item .manufacturing_1 {
        position: absolute;
        bottom: 45%;
        right: 5%;
    }
    .all-item.active .footer h2 {
        margin-bottom: 0;
        font-size: 2.5rem;
    }
/*    body .item-content.active {
        padding-bottom: 6%;
    }*/
}

@media screen and (max-width: 1280px){
    body .all-item .content .description{
     font-size: 18px;
     height: 120px;
 }

 body .all-item .header p{
     left: 55%;
     font-size: 14px;
     padding-left: 55px;

 }
 body .all-item .footer h2{
    font-size: 35px;
}
body .all-item .footer p{
    font-size: 14px;
    bottom: 30px;
}

body .all-item .content .image{
    width: 120px;
    height: 120px;
}
}
@media screen and (max-width: 1200px){
    body .all-item .content .description{
        font-size: 15px;

    }
}
@media screen and (max-width: 1100px){
    body .all-item .content .description{
        font-size: 14px;

    }
}
@media screen and (max-width: 1024px){
    body .all-item .content .description{
     font-size: 13px;
     height: 115px;
 }
 body .all-item .header p{
    left: 58%;
    font-size: 13px;
    padding-left: 0;

}
body .all-item .content .image{
    width: 115px;
    height: 115px;
}
body .all-item .footer h2 {
    font-size: 30px;
    line-height: normal;
}

}
@media screen and (max-width: 991px){
   body .all-item .content .description {
    font-size: 14px;
    height: 110px;
}
body .all-item .header p {
    padding-left: 50px;
}
body .all-item .content .image{
    width: 110px;
    height: 110px;
}
body .all-item .footer p {
    font-size: 13px;
    bottom: 10px;
    left: 15px;
}
body .all-item .footer h2 {
    font-size: 23px;
    line-height: normal;
}
}
@media screen and (max-width: 1280px) and (min-width: 769px){
     body .warehouse .all-item .header p,
     body .airport .all-item .header p,
     body .seaport .all-item .header p,
     body .manufacturing .all-item .header p{
        padding-left: 0;
		font-size: 1rem;		
    }

    body .seaport .all-item .seaport_1 .description p {
        padding-left: 0;
        padding-right: 10px;
        padding-left: 0;
    }
    
}
@media screen and (max-width: 768px){
    body .all-item .content .image {
        width: 100px;
        height: 100px;
    }
    body .all-item .content .description {
        font-size: 13px;
        height: 100px;
    }
    body .all-item .header p {
        left: 0%;
        font-size: 13px;
        position: static;position: initial;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
        margin-top: 0px !important;
        width: 100% !important;
    }
    body .all-item .footer{
        text-align: center;
        position: static;
        padding-bottom: 25px;
    }
    body .all-item .footer p {
        margin: 0;
        bottom: 40px;
        left: 70px;
        position: static;position: initial;
        color: #ED1C24;
        font-size: 16px;
        cursor: pointer;
        width: auto;
        margin: 0 auto;
        display: inline-block;
        margin-top: 20px;
    }
    body .all-item img.bg {
        width: 50%;
        display: none;
    }
    a.logo-back-home {
		top: 0px;
		position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 0px;

		z-index: 9999;
		height: 85px;
		padding-top: 20px;
		opacity: 0.8;
    }
    body .all-item .header .logo {
        top: 10px;
        left: 50%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        position: static;position: initial;
        float: none;
    }
    body .all-item .header .menu {
        top: 34px;
    }
    body .menu-body.show {
        left: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        z-index: 99999;
    }

    body .menu-body.show {
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.16);
        box-shadow: 0 10px 20px rgba(0,0,0,.16);
    }

    body .menu-body {
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        position: fixed;
        top: 0;
        max-width: 100%;
        width: 100%;
        z-index: 10;
        background: #fff;
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        height: 100%;
        left: 0;
        z-index: 100;
    }
    body .all-item .content .description {
        max-width: unset;
        width: calc(100% - 100px);
        float: right;
    }
    body .all-item .content .image img{
        max-width: 100%;
        max-height: 100%;
    }
    body .all-item .content {
        position: static;
        height: auto;
        display: inline-block;
        width: 100%;
    }
    body .all-item .header {
        display: inline-block;
        width: 100%;
    }
    body .all-item .content>div{
        position: static;
        width: 100%;
        display: block;
        font-size: 0;
        clear: both;
        margin-top: 15px;
        padding-right: 15px;
        padding-left: 45px !important;
    }
	body .all-item .content>div.airport_1{
		margin-top: 12px !important;
	}
    body .all-item .content>div:after{
        content: '';
        visibility: hidden;
        display: block;
        clear: both;
    }
    body  .all-item.seaport .item-content.active{
        height: 100%;
    }
    body .all-item.active {
        display: inline-block;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        width: 100%;
        height: auto;
        position: static;
    }
    body .all-item .content .description p.right {
        right: unset;
        left: 0;
        padding-left: 0;
        padding-right: 10px;
        text-align: left;
    }
    .all-item .header p{
        left: 58%;
        width: 100%;
    }
    span.first-detail{
        bottom: 54px;
        height: 160px;
    }
    .all-footers.footer p{
        padding-left: 15px;
        padding-right: 15px;
    }

    body .all-item img.bg {
        width: 80% !important;
        top: 95% !important;
        display: block !important;
        position: static !important;
        left: 0 !important;
        transform: none !important;
        margin: 0 auto !important;
        margin-top: 20px !important;
    }
	body .item-content .all-item.warehouse img.bg {
		margin-top: 50px !important;
		margin-bottom: 26px !important;
	}
	body .item-content .all-item.seaport img.bg {
		margin-top: 35px !important;
	}
}

@media screen and (max-width: 488px){
    span.first-detail{
        bottom: 70px;
    }
    body .all-item .footer{
        padding-bottom: 40px;
    }
	.item.rms .detail-content .content-left .service-img.main{
		max-height: 200px;
		top: 45%;
	}
	.rms .detail-content .content-right h5{
		max-width: 270px;
	}
	.item.rms .detail-content .content-right{
		top: -90px;
	}
}
@media screen and (max-width: 400px){
	.detail-content .content-right h2{
		width: 310px;
		line-height: 44px;
	}
}
@media screen and (max-width: 449px){
	 body .header .logo{
		width: 142px;
		
	}
	body .header .logo-back-home .logo{
		top: 20px;
	}
	body .header .menu{
		width: 28px;
		height: 18px;
		top: 30px;
		right: 15px;
		background-size: contain;
	}
	body .all-item .header .logo{
		width: 142px;
		top: 22px;
	}
	body .all-item .header .menu{
		width: 28px;
        right: 15px;
        height: 18px;
        top: 30px;
        background-size: contain;
	}
	body .all-item .content .image {
		width: 85px;
		height: 85px;
	}
	body .all-item .content .description {
		font-size: 13px;
		height: 85px;
		width: calc(100% - 85px);
	}
	body .all-item .content .description p {
		top:50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	body .all-item .footer p{
		font-size: 14px;
	}
	.all-item .footer p:before{
		width: 20px;
		height: 35px;
		padding-right: 0;
		margin-right: 10px;
		background-size: contain;
	}
	.detail-content .content-right{
		margin-top: -14px;
	}
	.detail-content .content-right h2{
		font-size: 22px;
	}
	.detail-content .content-right > p{
		font-size: 12px;
	}
	.detail-content .content-right ul li{
		font-size: 14px;
		margin-top: -15px;
	}
	.detail-content .content-right h2.tug a{
		font-size: 22px;
	}
}

/*general for survices inner page*/
.warehouse .all-item .content,
.airport .all-item .content,
.seaport .all-item .content,
.manufacturing .all-item .content{
    z-index: 1;
}
@media (min-width: 769px){
    .body-content.warehouse .item-content.active,
    .body-content.airport .item-content.active,
    .body-content.seaport .item-content.active,
    .body-content.manufacturing .item-content.active{
        background: transparent;
    }
    .body-content.warehouse:after, 
    .body-content.airport:after, 
    .body-content.seaport:after, 
    .body-content.manufacturing:after{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../assets/all_item.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    .all-item.warehouse .header .logo,
    .all-item.airport .header .logo,
    .all-item.seaport .header .logo,
    .all-item.manufacturing .header .logo{
        top: 30px;
        left: 50px;
    }
    .all-item.warehouse .header .menu, 
    .all-item.airport .header .menu, 
    .all-item.seaport .header .menu, 
    .all-item.manufacturing .header .menu{
        right: 50px;
        top: 30px;
    }
    .all-item.warehouse .header p, 
    .all-item.airport .header p, 
    .all-item.seaport .header p, 
    .all-item.manufacturing .header p{
        margin-top: 0;
        top: 38px;
        line-height: 1.2;
    }
}
@media (min-width: 769px) and (max-width: 1023px){
    .warehouse .all-item .content, 
    .airport .all-item .content, 
    .seaport .all-item .content, 
    .manufacturing .all-item .content{
        transform: translateY(30px);
    }
    .warehouse .all-item .footer, 
    .airport .all-item .footer, 
    .seaport .all-item .footer, 
    .manufacturing .all-item .footer{
        transform: translateY(30px);
    }
    .all-item.warehouse .header p,
    .all-item.airport .header p,
    .all-item.seaport .header p,
    .all-item.manufacturing .header p{
       width: 51.8%;
       left: 59.7%;
       /*margin-top: 2.2%;*/
       font-size: 0.533rem;
       letter-spacing: 0.2px;
       max-width: none;
       padding-left: 0;
       /*line-height: 1.2;*/
   }
   .all-item.warehouse .header .menu,
   .all-item.airport .header .menu,
   .all-item.seaport .header .menu,
   .all-item.manufacturing .header .menu{
        /*right: 3.6%;
        top: 4.2%;*/
        background-size: contain;
        /*width: 32px;
        height: 20px;*/
    }
    .all-item.warehouse .header .logo,
    .all-item.airport .header .logo,
    .all-item.seaport .header .logo,
    .all-item.manufacturing .header .logo{
        /*top: 4%;
        left: 3.7%;*/
    }
    .all-item.warehouse .content .image,
    .all-item.airport .content .image,
    .all-item.seaport .content .image,
    .all-item.manufacturing .content .image{
        width: 73px;
        height: 73px;
    }
    body .all-item.warehouse .content .image img,
    body .all-item.airport .content .image img,
    body .all-item.seaport .content .image img,
    body .all-item.manufacturing .content .image img{
        max-height: 75%;
        max-width: 82%;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        height: 97px;
        width: 300px;
    }
    .all-item.warehouse .content .description p,
    .all-item.airport .content .description p,
    .all-item.seaport .content .description p,
    .all-item.manufacturing .content .description p{
        padding-left: 2.2%;
        font-size: 0.72rem;
        letter-spacing: -0.1px;
        padding-bottom: 9px;
        line-height: 0;
        top: 38%;
    }
    .all-item.active.warehouse .footer h2,
    .all-item.active.airport .footer h2,
    .all-item.active.seaport .footer h2,
    .all-item.active.manufacturing .footer h2{
        margin-bottom: 0;
        font-size: 1.4rem;
    }
    .all-item.warehouse .footer p,
    .all-item.airport .footer p,
    .all-item.seaport .footer p,
    .all-item.manufacturing .footer p{
        bottom: -20%;
        left: 8.4%;
        font-size: 0.55rem;
        letter-spacing: 0.1px;
    }
  /*  .body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        height: 410px;
    }*/
    .body-content.warehouse .item-content,
    .body-content.airport .item-content,
    .body-content.seaport .item-content,
    .body-content.manufacturing .item-content{
        padding-bottom: 14%;
    }
    .warehouse .all-item .footer p:before,
    .airport .all-item .footer p:before,
    .seaport .all-item .footer p:before,
    .manufacturing .all-item .footer p:before{
        position: relative;
        top: -4px;
        background-size: contain;
        width: 7px;
        height: 20px;
    }
}
@media (min-width: 845px) and (max-width: 1023px){
/*    .body-content.warehouse, 
    .body-content.airport, 
    .body-content.seaport, 
    .body-content.manufacturing{
        height: 480px;
    }*/
}
@media (min-width: 992px) and (max-width: 1023px){
    .all-item.warehouse .header p, 
    .all-item.airport .header p, 
    .all-item.seaport .header p, 
    .all-item.manufacturing .header p{
        /*margin-top: -0.4%;*/
    }
}
@media (min-width: 992px) and (max-width: 1024px){
    .all-item.warehouse .header p, 
    .all-item.airport .header p, 
    .all-item.seaport .header p, 
    .all-item.manufacturing .header p{
        /*padding-left: 50px; */
    }
}
@media (min-width: 1024px) and (max-width: 1365px){
    .warehouse .all-item .content, 
    .airport .all-item .content, 
    .seaport .all-item .content, 
    .manufacturing .all-item .content{
        transform: translateY(20px);
    }
    .warehouse .all-item .footer, 
    .airport .all-item .footer, 
    .seaport .all-item .footer, 
    .manufacturing .all-item .footer{
        transform: translateY(20px);
    }
    .all-item.warehouse .header p,
    .all-item.airport .header p,
    .all-item.seaport .header p,
    .all-item.manufacturing .header p{
        width: 54.4%;
        left: 56.5%;
        /*margin-top: -0.4%;*/
        /*line-height: 1.4;*/
        font-size: 0.75rem;
        letter-spacing: 0;
        max-width: none;
    }
    .all-item.warehouse .header .menu,
    .all-item.airport .header .menu,
    .all-item.seaport .header .menu,
    .all-item.manufacturing .header .menu{
        /*right: 3.6%;
        top: 4.2%;*/
        background-size: contain;
    }
    .all-item.warehouse .header .logo,
    .all-item.airport .header .logo,
    .all-item.seaport .header .logo,
    .all-item.manufacturing .header .logo{
        /*top: 4%;
        left: 3.7%;*/
    }
    .all-item.warehouse .content .image,
    .all-item.airport .content .image,
    .all-item.seaport .content .image,
    .all-item.manufacturing .content .image{
        width: 97px;
        height: 97px;
    }
    body .all-item.warehouse .content .image img,
    body .all-item.airport .content .image img,
    body .all-item.seaport .content .image img,
    body .all-item.manufacturing .content .image img{
        max-height: 75%;
        max-width: 82%;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        height: 97px;
        width: 300px;
    }
    .all-item.warehouse .content .description p,
    .all-item.airport .content .description p,
    .all-item.seaport .content .description p,
    .all-item.manufacturing .content .description p{
        padding-left: 4%;
        font-size: 1rem;
        letter-spacing: -0.5px;
        padding-bottom: 11px;
        line-height: 0;
        top: 47%;
    }
    .all-item.active.warehouse .footer h2,
    .all-item.active.airport .footer h2,
    .all-item.active.seaport .footer h2,
    .all-item.active.manufacturing .footer h2{
        margin-bottom: 12px;
        font-size: 1.9rem;
    }
	.all-item .manufacturing_1{
		bottom: 58%;
	}
    .all-item.warehouse .footer p,
    .all-item.airport .footer p,
    .all-item.seaport .footer p{
        bottom: 13%;
        left: 8.4%;
        font-size: 0.75rem;
        letter-spacing: 0px;
    }
	.all-item.manufacturing .footer p{
		bottom: 10%;
        left: 8.4%;
        font-size: 0.75rem;
        letter-spacing: 0px;
	}
/*    .body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        height: 547px;
    }*/
/*    .body-content.warehouse .item-content,
    .body-content.airport .item-content,
    .body-content.seaport .item-content,
    .body-content.manufacturing .item-content{
        padding-bottom: 10%;
    }*/
    .warehouse .all-item .footer p:before,
    .airport .all-item .footer p:before,
    .seaport .all-item .footer p:before,
    .manufacturing .all-item .footer p:before{
        position: relative;
        top: -5px;
        background-size: contain;
        width: 14px;
        height: 26px;
    }
}
@media (min-width: 1120px) and (max-width: 1365px){
/*    .body-content.warehouse, 
    .body-content.airport, 
    .body-content.seaport, 
    .body-content.manufacturing{
        height: 600px;
    }*/
    .all-item.warehouse .header p, 
    .all-item.airport .header p, 
    .all-item.seaport .header p, 
    .all-item.manufacturing .header p{
        /*margin-top: -0.1%;*/
    }
}
@media (min-width: 1366px){

    .all-item.warehouse .header p,
    .all-item.airport .header p,
    .all-item.seaport .header p,
    .all-item.manufacturing .header p{
        width: 64.4%;
        left: 56.5%;
        /*margin-top: 0.4%;*/
        font-size: 1rem;
        letter-spacing: 0;
        max-width: none;
    }
    .all-item.seaport .header p{
        width: 61.4%;
    }
    .all-item.warehouse .header .menu,
    .all-item.airport .header .menu,
    .all-item.seaport .header .menu,
    .all-item.manufacturing .header .menu{
        /*right: 3.6%;
        top: 4.2%;*/
    }
    .all-item.warehouse .header .logo,
    .all-item.airport .header .logo,
    .all-item.seaport .header .logo,
    .all-item.manufacturing .header .logo{
        /*top: 4.1%;
        left: 3.7%;*/
    }
    .all-item.warehouse .content .image,
    .all-item.airport .content .image,
    .all-item.seaport .content .image,
    .all-item.manufacturing .content .image{
        width: 129px;
        height: 129px;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        height: 183px;
    }
    .all-item.warehouse .content .description p,
    .all-item.airport .content .description p,
    .all-item.seaport .content .description p,
    .all-item.manufacturing .content .description p{
        padding-left: 2.6%;
        font-size: 1.3rem;
        letter-spacing: -0.4px;
        padding-bottom: 17px;
        line-height: 0;
        top: 33%;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        width: 500px;
    }
    .all-item.active.warehouse .footer h2,
    .all-item.active.airport .footer h2,
    .all-item.active.seaport .footer h2,
    .all-item.active.manufacturing .footer h2{
        margin-bottom: 0;
        font-size: 2.5rem;
    }
    .all-item.warehouse .footer p,
    .all-item.airport .footer p,
    .all-item.seaport .footer p,
    .all-item.manufacturing .footer p{
        bottom: -8%;
        left: 8.2%;
        font-size: 1rem;
        letter-spacing: 0px;
    }
    .body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        min-height: 93%;
    }
    /*.body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        height: 730px;
    }*/
/*    .body-content.warehouse .item-content,
    .body-content.airport .item-content,
    .body-content.seaport .item-content,
    .body-content.manufacturing .item-content{
        padding-bottom: 6%;
    }*/
    .warehouse .all-item .footer p:before,
    .airport .all-item .footer p:before,
    .seaport .all-item .footer p:before,
    .manufacturing .all-item .footer p:before{
        position: relative;
        top: -7px;
    }
}
@media (min-width: 1368px) and (max-width: 1539px){
    .all-item.warehouse .header p, 
    .all-item.airport .header p, 
    .all-item.seaport .header p, 
    .all-item.manufacturing .header p{
        /*margin-top: 0.2%;*/
    }
}
@media (min-width: 1540px) and (max-width: 1679px){
/*    .body-content.warehouse, 
    .body-content.airport, 
    .body-content.seaport, 
    .body-content.manufacturing{
        height: 800px;
    }*/
    .body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        min-height: 93%;
    }
    .all-item.warehouse .header p, 
    .all-item.airport .header p, 
    .all-item.seaport .header p, 
    .all-item.manufacturing .header p{
        /*margin-top: 0.3%;*/
    }
}
@media (min-width: 1680px){

    .all-item.warehouse .header p,
    .all-item.airport .header p,
    .all-item.seaport .header p,
    .all-item.manufacturing .header p{
        width: 64.4%;
        left: 56.5%;
        /*margin-top: 0.9%;*/
        font-size: 1.2rem;
        letter-spacing: 0.2px;
        max-width: none;
    }
    
    .all-item.warehouse .header .menu,
    .all-item.airport .header .menu,
    .all-item.seaport .header .menu,
    .all-item.manufacturing .header .menu{
        /*right: 3.6%;
        top: 4.2%;*/
    }
    .all-item.warehouse .header .logo,
    .all-item.airport .header .logo,
    .all-item.seaport .header .logo,
    .all-item.manufacturing .header .logo{
        /*top: 4.4%;
        left: 3.7%;*/
    }
    .all-item.warehouse .content .image,
    .all-item.airport .content .image,
    .all-item.seaport .content .image,
    .all-item.manufacturing .content .image{
        width: 159px;
        height: 159px;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        height: 183px;
    }
    .all-item.warehouse .content .description p,
    .all-item.airport .content .description p,
    .all-item.seaport .content .description p,
    .all-item.manufacturing .content .description p{
        padding-left: 3.3%;
        font-size: 1.6rem;
        letter-spacing: -0.5px;
        padding-bottom: 17px;
        line-height: 0.2;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        width: 500px;
    }
    .all-item.active.warehouse .footer h2,
    .all-item.active.airport .footer h2,
    .all-item.active.seaport .footer h2,
    .all-item.active.manufacturing .footer h2{
        margin-bottom: 0;
        font-size: 3.1rem;
    }
    .all-item.warehouse .footer p,
    .all-item.airport .footer p,
    .all-item.seaport .footer p,
    .all-item.manufacturing .footer p{
        bottom: -17%;
        left: 8.8%;
        font-size: 1.2rem;
        letter-spacing: 0.2px;
    }
    .body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        min-height: 93%;
    }
/*    .body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        height: 891px;
    }*/
/*    .body-content.warehouse .item-content,
    .body-content.airport .item-content,
    .body-content.seaport .item-content,
    .body-content.manufacturing .item-content{
        padding-bottom: 6%;
    }*/
}
@media (min-width: 1920px){

    .all-item.warehouse .header p,
    .all-item.airport .header p,
    .all-item.seaport .header p,
    .all-item.manufacturing .header p{
        width: 64.4%;
        left: 56.5%;
        /*margin-top: 1.1%;*/
        /*line-height: 1.2;*/
        font-size: 1.4rem;
        letter-spacing: 0.04px;
        max-width: none;
    }
    .all-item.warehouse .header .menu,
    .all-item.airport .header .menu,
    .all-item.seaport .header .menu,
    .all-item.manufacturing .header .menu{
        /*right: 3.6%;
        top: 4.2%;*/
    }
    .all-item.warehouse .header .logo,
    .all-item.airport .header .logo,
    .all-item.seaport .header .logo,
    .all-item.manufacturing .header .logo{
        /*top: 4.7%;
        left: 3.7%;*/
    }
    .all-item.warehouse .content .image,
    .all-item.airport .content .image,
    .all-item.seaport .content .image,
    .all-item.manufacturing .content .image{
        width: 183px;
        height: 183px;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        height: 183px;
    }
    .all-item.warehouse .content .description p,
    .all-item.airport .content .description p,
    .all-item.seaport .content .description p,
    .all-item.manufacturing .content .description p{
        padding-left: 2.9%;
        font-size: 1.8rem;
        letter-spacing: -0.3px;
        padding-bottom: 12px;
        line-height: 0.8;
    }
    .all-item.warehouse .content .description,
    .all-item.airport .content .description,
    .all-item.seaport .content .description,
    .all-item.manufacturing .content .description{
        width: 500px;
    }
    .all-item.active.warehouse .footer h2,
    .all-item.active.airport .footer h2,
    .all-item.active.seaport .footer h2,
    .all-item.active.manufacturing .footer h2{
        margin-bottom: 0;
        font-size: 3.5rem;
    }
    .all-item.warehouse .footer p,
    .all-item.airport .footer p,
    .all-item.seaport .footer p,
    .all-item.manufacturing .footer p{
        bottom: -17%;
        left: 9.1%;
        font-size: 1.4rem;
    }
    .body-content.warehouse,
    .body-content.airport,
    .body-content.seaport,
    .body-content.manufacturing{
        min-height: 93%;
    }
/*    .body-content.warehouse .item-content,
    .body-content.airport .item-content,
    .body-content.seaport .item-content,
    .body-content.manufacturing .item-content{
        padding-bottom: 6%;
    }*/
}


@media screen and (max-width: 480px) {
    body .all-item .content img.bg {
        height: auto;height: initial;
        width: 90% !important;
    }

    body .all-item.airport .content img.bg {
        width: 90% !important;
    }
}


@media (min-width: 2100px){
    .body-content.warehouse, .body-content.airport, .body-content.seaport, .body-content.manufacturing{
        height: 100%;
    }
    
}
@media (min-width: 2500px){
    .all-item.warehouse .content .description, .all-item.airport .content .description, .all-item.seaport .content .description, .all-item.manufacturing .content .description {
        width: 670px;
    }
    .all-item.warehouse .content .description p, .all-item.airport .content .description p, .all-item.seaport .content .description p, .all-item.manufacturing .content .description p {
    padding-left: 2.9%;
    font-size: 2.4rem;
    letter-spacing: -0.3px;
    padding-bottom: 12px;
    line-height: 0.8;
}
.all-item.warehouse .header p, .all-item.airport .header p, .all-item.seaport .header p, .all-item.manufacturing .header p {
    width: 64.4%;
    left: 56.5%;
    /* margin-top: 1.1%; */
    /* line-height: 1.2; */
    font-size: 1.7rem;
    letter-spacing: 0.04px;
    max-width: none;
}
.all-item.active.warehouse .footer h2, .all-item.active.airport .footer h2, .all-item.active.seaport .footer h2, .all-item.active.manufacturing .footer h2 {
    margin-bottom: 0;
    font-size: 4.5rem;
}
.all-item.warehouse .footer p, .all-item.airport .footer p, .all-item.seaport .footer p, .all-item.manufacturing .footer p {
    bottom: -17%;
    left: 9.1%;
    font-size: 1.7rem;
}
.all-footers.footer p{
    font-size: 1.125rem;
}
}